<html>
<head>
  <title>Les nombres premiers</title>
  <link rel="stylesheet" type="text/css" href='<%= style.style %>'>
<body>
  <img width="200" alt="Paris 13 Logo" src='<%= style.img %>'>
  <h2><marquee>Liste des nombres premiers de 0 à 100</marquee></h2><br/>
  <div style='text-align:center'>
    <% for(var i=0; i<premiers.length; i++) {%>
      <span><%= premiers[i] %></span>
    <% } %>
  </div>
  <br/>
  <br/>
  <div style='text-align:center'>
      <a href="/accueil">FORMULAIRE CRUD TP JSAU 2018-2019</a>
  </div>
  <br/>
  <br/>
  <div class="top" style='text-align:center'>
      <a href="/d3">D3 DEMONSTRATION</a>
  </div>
</body>
</html>
